@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #667B8C;
}

html {
  font-size: 62.5%;
}

.cardExp {
  position: relative;
  width: 90%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 3rem;
  background-color: #343a40;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 1px 3px 5px 0px rgba(42, 47, 51, 0.59);
  cursor: pointer;
  transition: all 1s;
}
.cardExp:first-child {
  margin-top: 3rem;
}
.cardExp .clikvermais {
  background-color: #4A6D8C;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 0.5rem 1.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
  color: #e9ecef;
  text-transform: uppercase;
  border-radius: 0.5rem;
}
.cardExp .tituloExp {
  display: flex;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.5rem;
  justify-items: space-between;
}
.cardExp .tituloExp img {
  height: 4rem;
  margin-right: 0.5rem;
}
.cardExp .tituloExp h1 {
  font-weight: 800;
  color: #f1f3f5;
  text-transform: uppercase;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
.cardExp .categorias {
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
  top: 0.5rem;
  width: 14rem;
  display: flex;
  align-items: center;
}
.cardExp .categorias .freelancerIcon {
  width: 12.5rem;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  background-color: #685DB3;
  border-radius: 0.5rem;
}
.cardExp .categorias .freelancerIcon img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.cardExp .categorias .freelancerIcon h5 {
  font-size: 1.5rem;
  color: #f1f3f5;
  text-transform: uppercase;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.cardExp .descricaoExp {
  margin-top: 2.2rem;
  font-size: 2.2rem;
  color: #e9ecef;
}
.cardExp .data {
  top: 0.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #f1f3f5;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}
.cardExp video {
  margin-top: 2.2rem;
  width: 100%;
}

.verMais {
  display: block;
  height: 100px;
  overflow: hidden;
  transition: 0.8s all;
}

.ver1 {
  display: block;
  height: 1070px;
  transition: 0.8s all;
}

@media (max-width: 1800px) {
  .ver1 {
    height: 1020px;
  }
}
@media (max-width: 1700px) {
  .ver1 {
    height: 960px;
  }
}
@media (max-width: 1600px) {
  .ver1 {
    height: 910px;
  }
}
@media (max-width: 1500px) {
  .ver1 {
    height: 870px;
  }
}
@media (max-width: 1400px) {
  .ver1 {
    height: 840px;
  }
}
@media (max-width: 1300px) {
  .ver1 {
    height: 790px;
  }
}
@media (max-width: 1200px) {
  .ver1 {
    height: 760px;
  }
}
@media (max-width: 1100px) {
  .ver1 {
    height: 720px;
  }
}
@media (max-width: 1022px) {
  .data {
    display: none;
  }
  .ver1 {
    height: 690px;
  }
}
@media (max-width: 900px) {
  .ver1 {
    height: 650px;
  }
}
@media (max-width: 800px) {
  .ver1 {
    height: 620px;
  }
}
@media (max-width: 517px) {
  .freelancerIcon {
    display: none !important;
  }
  .tituloExp {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}/*# sourceMappingURL=style.css.map */