@import './variaveis';
.cardExp{
  position: relative;
  width: 90%;
  height: fit-content;
  padding: 3rem;
  background-color: $caixaGeral;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: .5rem;
  box-shadow: 1px 3px 5px 0px rgba(42,47,51,0.59);
  cursor: pointer;
  transition: all 1s;
  &:first-child{
    margin-top: 3rem;
  }
  .clikvermais{
    background-color: #4A6D8C;
    margin: 0 auto;
    margin-top: 4rem;
    padding: .5rem 1.5rem;
    width: fit-content;
    font-size: 2rem;
    color: $Texto;
    text-transform: uppercase;
    border-radius: .5rem;
  }
  .tituloExp{
    display: flex;
    position: absolute;
    width: fit-content;
    left: 1rem;
    top: .5rem;
    img{
      height: 4rem;
      margin-right: .5rem;
    }
    h1{
      font-weight: 800;
      color: $Titulo;
      text-transform: uppercase;
    }
  }
  
  .categorias{
    position: absolute;
    left: 100%;
    transform: translateX(-100%);
    top: .5rem;
    width: 14rem;
    display: flex;
    align-items: center;

    .freelancerIcon{
      width: 12.5rem;
      padding: .2rem;
      display: flex;
      align-items: center;
      // justify-content: space-evenly;
      background-color: $freelancerIcon;
      border-radius: .5rem;

      img{
        width: 1.5rem;
        height: 1.5rem;
        margin-left: .25rem;
        margin-right: .25rem;
      }
      h5{
        font-size: 1.5rem;
        color: $Titulo;
        text-transform: uppercase;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    }
    
  }
  .descricaoExp{
    margin-top: 2.2rem;
    font-size: 2rem;
    color: $Texto;
  }
  .data{
    top: .5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: $Titulo;
  }
  video{
    margin-top: 2.2rem;
    width: 100%;
  }
}
.verMais{
  display: none;
}
.ver{
  display: block;
}