//fontes
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@300&display=swap');


$fina: 'Sofia Sans Condensed', sans-serif;
$caixaGeral: #343a40;
$Titulo: #f1f3f5;
$freelancerIcon: #685DB3;
$Texto: #e9ecef;
